:root {
  --main-font-colour: rgb(249, 250, 197);
  --bg-colour: #0b1e10;
}

#root {
  margin: 0 auto;
}


body {
  background-color: var(--bg-colour);
  display: flex;
}

.App {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(31, 34, 38); */
}

.App header {
  height: 10vh;
  min-height: 50px;
  color: var(--main-font-colour);
  // position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  /* padding: 10px; */
  box-sizing: border-box;
  /* margin-left: 10vw; */
  margin-left: auto;
}

#credits {
  margin-right: 5vw;
}

h1 {
  margin-left: 15vw;
  font-family: modesto-condensed, serif;
  font-size: 4rem;
  color: var(--main-font-colour);
  text-align: left;
}

h2 {
  font-family: mrs-eaves-roman-small-caps, serif;
  font-size: 3rem;
  text-align: left;
  margin-bottom: -4px;
  line-height: 75%;
}

h3 {
  font-family: ff-scala-sans-pro, sans-serif;
  text-align: left;
  border-bottom: 4px double var(--main-font-colour);
}

.ability-score {
  font-family: ff-scala-sans-pro, sans-serif;
  font-size: 1.4rem;
}

h4 {
  font-family: mrs-eaves-roman-small-caps, serif;
  text-align: left;
  border-bottom: 4px double var(--main-font-colour);
  font-size: 1.8rem;
}

h5 {
  font-family: bookmania, serif;
  text-align: left;
  border-bottom: 4px double var(--main-font-colour);
  margin-top: 5px;
  font-size: 1.2rem;
  /* text-transform: uppercase; */
}

header h5 {
  border: none;
  margin-right: 5vw;
  margin-top: 4vh;
  line-height: 80%;
}

h5::first-letter {
  text-transform:capitalize;
}

.App section {
  display: flex;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-bottom: 0;
  color: var(--main-font-colour);
  align-content: flex-start
}

.App section p {
  font-family: bookmania, serif;
  font-size: 1.2rem;
  display: flex;
  align-content: flex-start;
  text-align: left;
}


main {
  padding: 10px;
  height: 80vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}


.statblock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2vw;
  margin-right: 2vw;
}

.attr-container {
  color: var(--main-font-colour);
  margin: 0 2vw 0;
}


ul, li {
  text-align: left;
  list-style: none;
  padding: inherit;
}



img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

.bottom {
  margin-right: 5vw;
}

.secret-text {
  color: red;
}

button {
  max-width: 200px;
  margin: 5vh auto 5vh;
  font-family: modesto-condensed, serif;
  font-size: 1.8rem;
  padding: 10px 20px 10px;
  background-color: var(--main-font-colour);
  color: var(--bg-colour);
  transition-duration: 0.4s;
  border: none;
  border-radius: 5px;

}

button:hover {
  box-shadow: 0px -2px 31px -5px var(--main-font-colour);
  -webkit-box-shadow: 0px -2px 31px -5px var(--main-font-colour);
  -moz-box-shadow: 0px -2px 31px -5px var(--main-font-colour);
}

button:active {
  opacity: 0.4;
  // transform: translateY(0.5vh);
  animation: shake 0.2s;
}

footer {
  // position: absolute;
  display: none;
  bottom: 2vh;
  margin: auto;
  color: var(--main-font-colour);
  font-size: 0.8rem;
  opacity: 0.5;
  text-align: center;
  width: 100%;
}

/* smol */
@media only screen and (max-width: 1000px) {
  section {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 2vh;
  }
}

/* lorge */
@media only screen and (min-width: 1001px) {
  section {
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10vh;
  }
}

@keyframes shake {
  0% {
    transform: none;
  }
  30% {
    transform: translateX(-5px) translateY(5px);
  }
  50% {
    transform: translateX(5px) translateY(-5px) rotate(2deg);
  }
  80% {
    transform: translateX(-4px) translateY(3px);
  }
  90% {
    transform: translateX(2px) translateY(-2px);
  }
  100% {
    transform: none;
  }
  
}